# If you want to protect your edit interface, uncomment lines below
# Please change your AuthUserFile (.htpasswd) path here.
# Find your path by adding 'echo realpath('.htpasswd');' in edit/index.php
# Current .htpasswd config :
# - Username: 'public'
# - Password : 'smiirl counter'
# How to change Username and Password :
# - Go to http://www.htaccesstools.com/htpasswd-generator/
# - Change the .htpasswd content with the generated content of the tool

# AuthType Basic
# AuthName "My Protected Area"
# AuthUserFile /var/www/allandolle.fr/simple-smiirl-counter/edit/.htpasswd
# Require valid-user
