@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Lato:400:700');
body, html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(#199a8f, #24DBCC);
  color: white;
}
form {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
}
footer {
  width: 100vw;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
}

/*footer div {
  width: 100vw;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}*/

footer div {
  color: white;
  box-sizing: border-box;
  line-height: 20px;
  height: 20px;
  width: 280px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer div a {
  color: white;
  box-sizing: border-box;
  display: block;
  width: auto;
  height: 20px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  padding: 0;
  margin: 0 0px;
}
footer div span {
  margin: 0 0px;
}
footer div img {
  width: 20px;
  height: 20px;
  margin: 0 0px 0 0;
  padding: 0;
}
input {
  display: block;
  width: 280px;
  height: 40px;
  font-size: 24px;
  margin: 20px auto;
  padding: 0 10px;
  box-sizing: border-box;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="number"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #AAAAAA;
  color: #EEEEEE;
  box-sizing: border-box;
  font-family: 'Arvo', sans-serif;
  font-size: 15px;
  width: 200px;
  letter-spacing: 2px;
  position: relative;
  transform: scale(0, 1);
  opacity: 0;
  transition: all 0.4s ease;
}
input[type="number"]::-webkit-input-placeholder {
  letter-spacing: normal;
  color: #EEEEEE;
}
input[type="number"]:focus::-webkit-input-placeholder {
  color: white;
}
input[type="number"].show:focus + .underline, input[type="number"].show:hover + .underline {
  transform: scale(1);
}
.underline {
  background-color: white;
  display: inline-block;
  height: 1px;
  position: relative;
  top: -21px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 210px;
}
.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
.show + .underline {
  transform: scale(0.2, 1);
}
input:focus {
  box-shadow: none;
  outline: none;
}
input[type="submit"] {
  display: block;
  width: 100%;
  height: 40px;
  font-family: 'Lato', sans-serif;
	background: #353535;
	color: #FFF;
  width: 280px;
  height: 40px;
  font-size: 17px;
  margin: 5px auto;
  padding: 0 10px;
  box-sizing: border-box;
  border: none;
  position: relative;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
  cursor: pointer;
}
input[type="radio"] {
  position: absolute;
  visibility: hidden;
}
input[type="radio"]:focus, input[type="radio"]:checked {
  border: none;
}
label {
  width: 280px;
  text-align: left;
  margin: 20px auto 0 auto;
  font-size: 16px;
}
.group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: auto;
  font-size: 16px;
  text-transform: full-width;
  word-spacing: 2px;
  padding: 0;
  margin-bottom: 5px;
  position: relative;
}
.group label {
  margin: 0;
  padding: 5px 20px;
  display: block;
  position: relative;
  color: #EEEEEE;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 9;
  -webkit-transition: all 0.25s linear;
}
.group label:hover {
  color: #FFFFFF;
}
.group label:hover .check {
  border: 1px solid #FFFFFF;
}
.check {
  display: block;
  position: absolute;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  height: 20px;
  width: 45px;
  top: 3.5px;
  right: 15px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
.check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 7.5px;
  border: 1px solid #EEEEEE;
  height: 15px;
  width: 22px;
  top: 0;
	left: 0;
  margin: auto;
  background-color: #EEEEEE;
  transform: translateX(1px) translateY(1.5px);
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}
input[type=radio]:checked ~ .check {
  border: 1px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
  border: 1px solid #0DFF92;
  transform: translateX(20px) translateY(1.5px);
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
  background-color: rgba(20, 20, 20, 0.15);
}
.wrapper {
  background-image: linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 0.25));
  box-shadow: -4px 10px 50px 10px rgba(20, 20, 20, 0.2);
  width: 320px;
  padding: 15px 20px;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  transform: rotateX(-1deg);
}
.compteur, .compteur label {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 20px 0;
  padding: 15px 0 18px 0;
  color: #EEEEEE;
}
.compteur a {
  display: block;
  text-align: center;
  width: 200px;
  height: 30px;
  line-height: 28px;
  margin: 5px 40px 0;
  font-size: 18px;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 3px 7px 1px rgba(150, 76, 102, 0.97);
  cursor: pointer;
  background-color: rgba(255, 76, 102, 0.97);
  text-decoration: none;
  color: rgba(30, 30, 30, 0.75);
  letter-spacing: 2.5px;
}
.log {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  width: 280px;
  line-height: 15px;
  text-align: center;
  font-family: monospace;
}
.line {
  background-color: rgba(20, 20, 20, 0.3);
  margin: 1.5px 0;
}
.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}
